language: perl
perl:
  - "5.8"
  - "5.12"
  - "5.20"
  - "5.22"
  - "dev"
  - "blead"
matrix:
  include:
    - perl: 5.18
      env: COVERAGE=1
  allow_failures:
    - perl: "blead"
os:
  - linux
  - osx
compiler:
  - gcc
  - clang
sudo: required
# Actually this is only needed for Linux, I guess
addons:
    apt:
        packages:
          - freeglut3-dev
          - xutils-dev
          - libxi-dev
          - libxxf86vm-dev
          - x11proto-xf86vidmode-dev
          - mesa-utils
          - xvfb
          - libgl1-mesa-dri
          - libglapi-mesa
          - libosmesa6
before_install:
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then export DISPLAY=:99.0; sh -e /etc/init.d/xvfb start; fi
  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then export TRAVIS_PERL_DEBUG=1; fi
  - export TRAVIS_PERL_DEBUG=1;
  - git clone git://github.com/travis-perl/helpers ~/travis-perl-helpers
  - source ~/travis-perl-helpers/init
  - build-perl
  - perl -V
  - build-dist
  - cd $BUILD_DIR             # $BUILD_DIR is set by the build-dist command
install:
  - cpan-install --deps       # installs prereqs, including recommends
  - cpan-install --coverage   # installs converage prereqs, if enabled
before_script:
  - coverage-setup
script:
  - make
  - prove -bv -j$(test-jobs) $(test-files)   # parallel testing
after_success:
  - coverage-report